---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p><i>{{ site.description | markdownify | newline_to_br }}</i></p>
		<ul class="actions">
			<li><a href="{{site.baseurl}}/contact.html" class="button special">Contactar</a></li>
		</ul>
	</div>
	<a href="#artiststatement" class="more scrolly">Más información</a>
</section>

<!-- One -->
<section id="artiststatement" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2 class="large-title">Artist Statement</h2>
			<p>{{site.artist_statement | newline_to_br}}</p>
			<div class="image round">
				<img src="{{site.baseurl}}/images/profile.jpeg">
			</div>
		</header>
	</div>
</section>

<!-- Videos -->
<section id="videos" class="wrapper style8 special">
	<!--<div class="inner">-->
	<h2>Videos</h2>
	<div class="inner gallery-content">
		<div class="videoslider">
			{% for id in site.video-ids %}
			<div class="slide">
				<iframe src="https://www.youtube.com/embed/{{id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			{% endfor %}
		</div>
		<!--
		<div class="carousel-container">
			<div class="carousel">
				{% for image in site.static_files %}
				{% if image.path contains 'images/gallery' %}
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image">
				{% endif %}
				{% endfor %}
			</div>
		</div>
		-->
	</div>
	<!--</div>-->
</section>

<!-- Gallery -->
<section id="gallery" class="wrapper style3 special">
	<!--<div class="inner">-->
	<h2>Galería</h2>
	<div class="gallery-content">
		<div class="flexslider">
			{% for image in site.static_files %}
			{% if image.path contains 'images/gallery' %}
			<div class="slide">
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image">
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="carousel-container">
			<div class="carousel">
				{% for image in site.static_files %}
				{% if image.path contains 'images/gallery' %}
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image">
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<!--</div>-->
</section>

<!-- Essays -->
<section id="essays" class="wrapper style7 special">
	<h2>Textos</h2>
	<ul>
		{% for primary_essay in site.static_files %}
			{% if primary_essay.path contains 'essays/primary' %}
			{% assign name = primary_essay.name | split: '.' %}
			{% assign name = name[0] %}
			<a href="http://{{site.url}}{{site.baseurl}}/{{primary_essay.path}}" target="_blank" style="border-bottom: none;" class="hideme">
				<li class="essay-card">
					<i class="fas fa-file-pdf"></i>
					<div class="text">
						<h4>{{name}}</h4>
					</div>
				</li>
			</a>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="inner">
		<ul class="sec-essays">
			{% for sec_essay in site.static_files %}
			{% if sec_essay.path contains 'essays/secondary' %}
			{% assign name = sec_essay.name | split: '.' %}
			{% assign name = name[0] %}
			<a href="http://{{site.url}}{{site.baseurl}}/{{sec_essay.path}}" target="_blank" style="border-bottom: none;" class="hideme">
				<li class="essay-card-s">
					<i class="fas fa-file-pdf"></i>
					<div class="text">
						<h4>{{name}}</h4>
					</div>
				</li>
			</a>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<!-- Two -->
<!--
<section id="two" class="wrapper alt style2">
<section class="spotlight">
<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
<h2>Magna primis lobortis<br />
sed ullamcorper</h2>
<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
</div>
</section>
<section class="spotlight">
<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
<h2>Tortor dolore feugiat<br />
elementum magna</h2>
<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
</div>
</section>
<section class="spotlight">
<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
<h2>Augue eleifend aliquet<br />
sed condimentum</h2>
<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
</div>
</section>
</section>
-->

<!-- Three -->
<section id="evaluations" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Evaluaciones</h2>
			<!--<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
			fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>-->
		</header>
		<ul class="features">
			{% for evaluation in site.evaluations %}
			<a href="{{site.baseurl}}{{evaluation.url}}" style="border-bottom: none;" class="hideme">
				<li class="user-card">
					<div class="image round">
						<img src="{{site.baseurl}}{{evaluation.image}}">
					</div>
					<div class="text">
						<h3>
							{% if evaluation.name == "Ana Oviedo" %}
							Autoevaluación
							{% else %}
							{{evaluation.name}}
							{% endif %}
						</h3>

						<p>{{evaluation.description}}</p>
					</div>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Arcue ut vel commodo</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="{{ site.baseurl }}/contact.html" class="button fit special">Contactar</a></li>
			<li><a href="#artiststatement" class="button fit scrolly">Saber más</a></li>
		</ul>
	</div>
</section>
